.projects{
    display: grid;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 20vh 80vh;
}

.projects__title{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
}

.projects__listNames{
    grid-column: 3/-1;
    grid-row: 2/-1;

    list-style-type: upper-roman;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 0;
    padding: 10px;
    justify-items: left;
}