.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgb(187, 186, 186);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.4s 0.2s;
  color: black;
  font-size: 160%;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn--move {
  font-size: 160%;
}

@media only screen and (max-width: 1000px) {
  .popup {
    opacity: 1;
    visibility: visible;
  }

  .popup__content {
    opacity: 1;
  }
}
